.card-bicicleta {
    flex: 1 250px;
    margin-top: 1em;
}

.card-body img {
    width: 100%;
}

.btn-compra {
    width: 100%;
    border-radius: 0;
}

.jumbotron {
    background-color: #21618C;
    color: white;
}

footer {
    background-color: #21618C;
    color: white;
    margin-bottom: 0;
    margin-top: 1em;
    padding: 10px 10px 0 10px;
}

a:link {
    color: #F7DC6F;
    font-weight: bold;
}
